<div class="profile-container">
  <div class="main">
    <div class="left">
      <div class="profile">
        <img src="" alt="">
      </div>
    </div>
    <div class="right">

    </div>
  </div>
    <div class="update">
      <h2>Update Your Profile</h2>
      <form (ngSubmit)="saveProfile()">
        <div class="form-group">
          <label for="name">Name</label>
          <input type="text" id="name" name="name" [(ngModel)]="profile.name" required>
        </div>
        <div class="form-group">
          <label for="interests">Interests (comma-separated)</label>
          <input type="text" id="interests" name="interests" [(ngModel)]="profile.interests" required>
        </div>
        <button type="submit">Save</button>
      </form>
   </div>
  </div>
  
