<div class="container">
    <h1>Explore Career Opportunities</h1>
    
    <div class="search-bar">
      <input type="text" placeholder="Search for interships, workshops, and more" />
      <button type="button">Search</button>
    </div>
    
    <div class="popular-searches">
      <h3>Popular Searches</h3>
      <div class="searches">
        <ul>
            <li>Study Buddies</li>
            <li>Internships</li>
            <li>workshops</li>
            <li>CV Tips</li>
            <li>Networking</li>
            <li>Masterclasses</li>
            <li>Job Opportunities</li>
        </ul>
      </div>
    </div>
    
    <div class="categories">
      <h3>Categories</h3>
      <ul>
        <li>Sales</li>
        <li>Hu</li>
        <li>Design</li>
        <li>Data</li>
        <li>User</li>
      </ul>
    </div>
    <div class="ratings">
        <div class="ratings-left">
            <h3>Ratings</h3> 
            
        </div>
        <div class="ratings-right">
            <h3>Skill Level</h3>
            <ul>
                <li>Entry</li>
                <li>Intermediate</li>
                <li>Professional</li>
            </ul>
        </div>
    </div>
    <div class="recommended">
        <h3>Recommended for You</h3>
        <div class="items">
            <div class="item">
                <img src="" alt="">
                <h4>User Experience</h4>
                <p></p>
            </div>
            <div class="item">
                <img src="" alt="">
                <h4>Essential Skills for</h4>
                <p></p>
            </div>
            <div class="item">
                <img src="" alt="">
                <h4>Intoduction to UX</h4>
                <p></p>
            </div>
            <div class="item">
                <img src="" alt="">
                <h4>Mastering Your Career</h4>
                <p></p>
            </div>
        </div>
    </div>
</div>