
<div class="container">
    <h1>Explore Career Opportunities</h1>
    
    <div class="search-bar">
      <input type="text" placeholder="Search for interships, workshops, and more" />
      <button type="button">Search</button>
    </div>
    
    <div class="popular-searches">
      <h3>Popular Searches</h3>
      <div class="searches">
        <ul>
            <li>Study Buddies</li>
            <li>Internships</li>
            <li>workshops</li>
            <li>CV Tips</li>
            <li>Networking</li>
            <li>Masterclasses</li>
            <li>Job Opportunities</li>
        </ul>
      </div>
    </div>
    
    <div class="categories">
      <h3>Categories</h3>
      <ul>
        <li><mat-icon>check_box</mat-icon> Sales</li>
        <li><mat-icon>check_box</mat-icon> Hu</li>
        <li><mat-icon>check_box</mat-icon> Design</li>
        <li><mat-icon>check_box</mat-icon> Data</li>
        <li><mat-icon>check_box</mat-icon> User</li>
      </ul>
    </div>
    <div class="ratings">
        <div class="ratings-left">
            <h3>Ratings</h3> 
            <div class="icons">
                <mat-icon>star</mat-icon>
                <mat-icon>star</mat-icon>
                <mat-icon>star</mat-icon>
                <mat-icon>star</mat-icon>
                <mat-icon>star</mat-icon>
            </div>
        </div>
        <div class="ratings-right">
            <h3>Skill Level</h3>
            <ul>
                <li><mat-icon>check_box</mat-icon> Entry</li>
                <li><mat-icon>check_box</mat-icon> Intermediate</li>
                <li><mat-icon>check_box</mat-icon> Professional</li>
            </ul>
        </div>
    </div>
    <div class="recommended">
        <h3>Recommended for You</h3>
        <div class="items">
            <div class="item">
                <img src="https://integrator.digital/upload/medialibrary/6ff/0m6r8qzst7abxi4x1vtb7o382wm4rd4x.jpeg" alt="">
                <h4>User Experience</h4>
                <p>Career Coach</p>
            </div>
            <div class="item">
                <img src="https://miro.medium.com/v2/resize:fit:640/format:webp/1*a5hF7e5EnxL1l32GdQFbPw.png" alt="">
                <h4>Essential Skills for</h4>
                <p>Professional Development</p>
            </div>
            <div class="item">
                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQXdX0-Q2XnjY9gB2BJLuLSwi8faN2Krw0cO8uKnBE4Tst7ni4I" alt="">
                <h4>Intoduction to UX</h4>
                <p>Career Starter Kit</p>
            </div>
            <div class="item">
                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTNBLx7DJIClNHSEKRzPZ-SzVvirE-Pru78HHwr6IYRn27qX4Q3" alt="">
                <h4>Mastering Your Career</h4>
                <p>Career Insights</p>
            </div>
        </div>
    </div>
</div>