
<div class="container">
    <div class="top_section">
        <h1>Welcome to Career Connect  </h1>
      <p> As students navigating through the academic landscape, we often encounter various challenges, from finding the right study partners to securing internship opportunities and honing our professional skills. The lack of a centralized platform exacerbates these challenges, leading to missed opportunities and inefficient use of resources.</p>
      <img src="https://img.freepik.com/free-photo/close-up-student-reading-book_23-2148888822.jpg?t=st=1708765404~exp=1708769004~hmac=56d8577de59f4ebd8cacf5eb68d1ac977a5aee9892c49a9a563e84a7f08f0977&w=1060">
    </div>
    <hr> 
    
</div>