@font-face {
    font-family: 'Ubuntu';
    src: url('../assets/fonts/Ubuntu/Ubuntu-Regular.ttf') format('ttf'),
}

@font-face {
  font-family: 'Poppins';
  src: url('../assets/fonts/Poppins/Poppins-Regular.ttf') format('ttf'),
}

.app-root {
    display: flex;
    min-height: 100vh;
}

.navigation {
  flex: 1;
  position: sticky;
  background-color: #282828;
}

.outlet {
  flex: 9;
  background-color: (#161616);  
}
