
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<nav class="navigation">
    <ul>
      
      <li> <div class="nav">  <mat-icon class="icon"> home </mat-icon> <a routerLink="/" routerLinkActivate="active">Home</a> </div> </li>
      <li><div class="nav"> <mat-icon class="icon">search</mat-icon> <a routerLink="/search" routerLinkActivate="active">Search</a> </div> </li>
      <li> <div class="nav"><mat-icon class="icon">person</mat-icon> <a routerLink="/profile" routerLinkActivate="active">Profile</a> </div></li>
      <li><div class="nav"><mat-icon class="icon"> mail_outline</mat-icon> <a routerLink="/messages" routerLinkActivate="active">Messages</a></div></li>
    </ul>
</nav>
  